.leftNav {
    position: absolute;
    width: 300px;
    height: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: #007bff;
    transition: 0.5s all ease-in-out;
}

.openMenu .leftNav {
    left: -300px;
}

    .leftNav .logo-wrap {
        margin: 30px auto 20px;
        max-width: 150px;
    }

.content-container {
    padding-left: 300px;
    background: #f2f2f2;
    transition: 0.5s all ease-in-out;
}

.openMenu .content-container {
    padding-left: 0;
}

ul.nav * {
    transition: all 0.2s ease-in-out;
}

ul.nav {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 50px;
}

    ul.nav li a {
        padding: 20px 50px;
        color: #fff;
        font-size: 18px;
        display: block;
        text-decoration: none;
        font-weight: 600;
    }

        ul.nav li a i {
            display: inline-block;
            vertical-align: text-bottom;
            margin-right: 10px;
            color: #fff;
        }

    ul.nav li:hover a {
        background: #06a9f4;
        color: #fff;
    }

        ul.nav li:hover a i {
            color: #fff;
        }

.top-bar {
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

    .tb-left {
        display: inline-block;
        width: 50%;
    }

        .tb-left .menu-bar {
            color: #007bff;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 20px;
        }

            .tb-left .menu-bar i {
                font-size: 30px;
            }

        .tb-left .search-bar {
            display: inline-block;
            vertical-align: bottom;
        }

            .search-bar input[type=search] {
                width: 38px;
                background: #fff url('../img/search.svg') no-repeat 7px center;
                border: solid 1px #ccc;
                padding: 10px;
                outline: 0;
                
                -webkit-border-radius: 10em;
                -moz-border-radius: 10em;
                border-radius: 10em;
                
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                transition: all .5s;
                color: transparent;
                cursor: pointer;
            }
            .search-bar input[type=search]:hover {
                background-color: #fff;
            }
            .search-bar input[type=search]:focus {
                width: 300px;
                padding-left: 32px;
                color: #000;
                cursor: auto;
                background-color: #fff;
                border-color: #007bff;
                
                -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
                -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
                box-shadow: 0 0 5px rgba(109,207,246,.5);
            }
            .search-bar input:-moz-placeholder {
                color: transparent;
            }
            .search-bar input::-webkit-input-placeholder {
                color: transparent;
            }

    .tb-right {
        display: inline-block;
        width: 50%;
        text-align: right;
    }
    
        .tb-right span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
        
        .tb-right a {
            display: inline-block;
            vertical-align: middle;
        }
        
            .tb-right a i {
                font-size: 30px;
                color: #007bff;
            }

.white-container {
    background: #fff;
    padding: 30px 40px;
    min-height: 590px;
    color: #333;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

    .title-wrap h1 {
        display: inline-block;
        width: 50%;
        font-size: 30px;
        margin: 0;
    }

    .add-merchant {
        margin: 0 0 0 auto;
        text-decoration: none;
    }

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3)
}

.button-wrap {
    text-align: right;
}

ul.merchant {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border: 1px solid #f2f2f2;
}

    ul.merchant li {
        padding: 15px;
        display: flex;
        border-bottom: 1px solid #dee2e6;
        align-items: center;
    }

    ul.merchant li:nth-child(odd) {
        background: #f2f2f2;
    }

        ul.merchant li span {
            display: inline-block;
            width: 50%;
        }

        .action-btns {
            display: inline-block;
            width: 50%;
            text-align: right;
        }

            .action-btns a {
                margin-left: 10px;
                color: #007bff;
            }

.col-6 {
    width: 50%;
    display: inline-block;
}

.accordion__item .form-group {
    max-width: 200px;
    margin: 20px 0;
}

.accordion {
    margin-top: 20px;
    border: 1px solid #cbcbcb;
}

.accordion__title h4 {
    margin: 0;
}

.accordion__title {
    background: #00b5f4;
    color: #fff;
    transition: 0.3s all ease-in-out;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.accordion__arrow {
    margin-right: 10px;
}

.accordion__title:hover {
    background: #007bff;
}

label[for="shipping-fee"] {
    margin-top: 30px;
    display: block;
    font-weight: 600;
    font-size: 14px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .leftNav {
        left: -300px;
    }

    .content-container {
        padding-left: 0;
    }

    .openMenu .leftNav {
        left: 0;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

